[submodule "ghostty"]
	path = vendor/ghostty
	url = https://github.com/manaflow-ai/ghostty.git
	branch = main
[submodule "homebrew-cmux"]
	path = vendor/homebrew-cmux
	url = https://github.com/manaflow-ai/homebrew-cmux.git
[submodule "vendor/bonsplit"]
	path = vendor/bonsplit
	url = https://github.com/manaflow-ai/bonsplit.git
