<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>@LABEL@</string>
  <key>ProgramArguments</key>
  <array>
@ARGS@
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>@HOME@</string>
    <key>PATH</key>
    <string>@BRAIN@/bin:@HOME@/bin:@HOME@/.local/bin:/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin</string>
@ENV@
  </dict>
  <key>WorkingDirectory</key>
  <string>@BRAIN@</string>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>30</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>StandardOutPath</key>
  <string>@LOG@</string>
  <key>StandardErrorPath</key>
  <string>@LOG@</string>
</dict>
</plist>
